@model IEnumerable<HTNLShop.ViewModels.ProductVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_ListProduct";
}

<h1>Tìm Kiếm</h1>
<h4>Có @Model.Count() sản phẩm</h4>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <img src="~/Assets/img/@item.CategoryId/@(item.ProductId).jpg"
                     class="img-fluid w-100 rounded-top" alt="">
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                 style="top: 10px; left: 10px;">
                @item.CategoryName
            </div>

            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4 class="truncate-title">@item.ProductName</h4>
                <p class="truncate-detail">@item.ProductDetail</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">@item.Price</p>
                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
}

